body {
  margin: 0;
  padding: 0;
  background-color: #0b0c2a;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto
}

.button-wrapper{
    margin-top: 20px;
  display: flex;
  justify-content: center;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 16px 32px;
  background-color: #ff6f00;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  animation: fadeIn 3s ease-in forwards;
}

.btn:hover {
  background-color: #e65c00;
}

.nota {
  color: #ffffff;
  font-size: 16px;
  margin-top: 12px;
  font-style: italic;
}
/*responsividade*/
@media (max-width: 480px) {
  .btn {
    font-size: 18px;
    padding: 14px 28px;
  }




